body{
    /* background-color: #ffff;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png"); */
    background-color: #eee;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
